/* CSS files add styling rules to your content */
html {
    font-size: 16px;
}

body {
    background: #ffffff;
    font-family: "Roboto";
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (min-width : 360px) {
    hr {
        display: none;
    }

    .sr-only {
        position: absolute;
        left: -99999px;
        width: 1px;
        height: 1px;
        clip: rect(0 1px 1px 0);
        clip-path: inset(50%);
        overflow: hidden;
    }

    .header {
        display: block;
        position: fixed;
        top: 0;
        z-index: 15;
        height: 5rem;
        background-color: white;
        width: 100%;
    }

    .header__title{

        padding:  0.5em;
        margin:0;

    }

    .header__inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .header__inner-container {
        position: relative;
        height: 100%;

    }

    .main {
        margin: 5rem 0;
        background-color: white;
        z-index: 0;
    }


    .main__container {
        margin: 0em 5em;
    }

 
    .footer__credit,
    .footer__link {
        color: white;
        padding: 1rem;
    }

    .footer__link a {
        color: white;
        text-decoration: none;
    }

    .footer__inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    .footer__inner-container {
        position: relative;
    }

    .footer {
        display: block;
        position: fixed;
        z-index: -1;
        bottom: 0;
        height: 5rem;
        background-color: #222;
        width: 100%;
    }

}

@media (min-width : 640px) {
    hr {
        display: none;
    }

}

@media (min-width: 1080px) {
    hr {
        display: block;
        margin-top: 82px;
        margin: 0;
        padding: 0;
        z-index: 10;
    }

}
